#!/bin/bash



# ZSH
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias zshconfig="code ~/.zshrc"

# LAZY DOCKER
alias lzd='lazydocker'

# Reload zshrc
alias reload!=". ~/.zshrc"

# Clear
alias cls="clear"


# FD
alias fd="fdfind"