[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = less -FRX
[color]
	ui = auto
[color "status"]
	header = bold cyan
	branch = bold cyan
	updated = bold green
	added = bold green
	changed = bold yellow
	untracked = bold red
	nobranch = bold red
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
[merge]
	conflictStyle = zdiff3
[alias]
	last = log -1 HEAD
	unstage = restore --staged --
	contributors = shortlog --summary --numbered
	plog = log --graph --decorate --oneline --all
[include]
	path = ~/.config/git/local.config
